.search-component{
    padding: 4% 7%;
}

.search-container{
    display: flex;
    gap: 1%;
}

.search-left{
    width: 35%;

    background-color: #b56953;

    position: relative;
}

.search-img-container{
    width: 65%;
}

#search-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.search-body{
    background-color: #F8F5E8;
    width: 70%;
    padding: 10% 5%;
    font-size: x-large;
    text-align: center;

    position: absolute;
    top:30%;
}

.text{
    transition: transform 0.2s ease-in-out;
}

.text:hover{
    transform: translateX(10px);
    cursor: pointer;
    /* text-shadow: 2px 2px 5px rgb(76, 76, 76); */
}


.modal-body{
    background-color: #F8F5E8;
}

.modal-btn{
    background-color: #b56953;
    color: white;
    border: 1px solid white;
}
.modal-btn:hover{
    background-color: transparent;
    color: #b56953;
    border: 1px solid #b56953;
}

.hotels-booking-area-modal{
    
    /* background-color: #faf9f5; */
    background-color: #F8F5E8;
    
    padding: 2.125rem 1.875rem;
    height: 350px;
   
}


/* responsive */

@media only screen and (max-width: 840px) {
    .search-body{
        font-size: large;
        top:25%;
    }
}
@media only screen and (max-width: 655px) {
    .search-body{
        width: 80%;
    }
}
@media only screen and (max-width: 576px) {
    .search-component{
        padding: 4% 0%;
    }
}

/* main mobile */
@media only screen and (max-width: 483px) {
    .search-container{
        display: block;
    }
    .search-left{
      
        width: 100%;
        height: 100%;
        display: block;
    
        background-color: #b56953;
        padding: 3%;
    
    }
    .search-body{
        background-color: #F8F5E8;
        width: 100%;
        padding: 5% 5%;

        font-size: x-large;
        text-align: center;
        position: relative;
    
    }
    .search-img-container{
        width: 100%;
    }
    

}