.features-container{

    width: 100%;
    /* height: 40vh; */
    /* display: grid; */
    
    align-items: center;
    justify-content: center;

}
.features-container-content{
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 0 15%;
}

.logos{
    font-size: 75px;
    
}

.logos p{
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
}

.logos i{
    color: #b56953;
    transition: transform 100ms ease-in-out;
}

.logos i:hover{
    transform: translateY(-20%);
}


.logo-container{
    margin-top: 3%;
    width: 100%;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 5rem;
    /* overflow-x: scroll; */
    overflow: auto;
    white-space: nowrap;
    
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

/* .logo-container::-webkit-scrollbar {
    display: none;
} */


@media only screen and (max-width: 1055px) {
    .features-container-content{
        width: 100%;
        padding: 0 5%;
    }
}
@media only screen and (max-width: 850px) {
    .features-container-content{
        width: 100%;
        padding: 3% 5%;
    }
}
/* mobiles */
@media only screen and (max-width: 768px) {
    .logo-container{
        margin-top: 5%;
    }
    .features-container-content{
        padding: 4% 10%;
    }
}